/* stylelint-disable selector-class-pattern */
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero:not(.hero--auto-block) {
  background-color: var(--light-color);
}

.hero :is(h1, h2, h3, h4, h5, h6, p) {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero.hero--auto-block h1 {
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.hero--dark-background {
  background-color: var(--dark-color);
  color: var(--background-color);
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}