/* stylelint-disable selector-class-pattern */
body.dark {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #bb86fc;

  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark a.button.secondary:hover {
  background-color: var(--link-color);
}

body.dark .header .button-container,
body.dark .highlight .default-content-wrapper {
  --text-color: #131313;

  color: var(--text-color);
}


body.dark .header,
body.dark .hero--auto-block h1 {
  color: var(--text-color);
}

body.dark .footer {
  background-color: var(--dark-color);
}